<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SelectServlet</servlet-name>
    <servlet-class>com.message.servlet.SelectServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContentServlet</servlet-name>
    <servlet-class>com.message.servlet.ContentServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZhaoGongZuoServlet</servlet-name>
    <servlet-class>com.message.servlet.ZhaoGongZuoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ErShouServlet</servlet-name>
    <servlet-class>com.message.servlet.ErShouServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ErShouMaiServlet</servlet-name>
    <servlet-class>com.message.servlet.ErShouMaiServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ErShouMaiProServlet</servlet-name>
    <servlet-class>com.message.servlet.ErShouMaiProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ContentProServlet</servlet-name>
    <servlet-class>com.message.servlet.ContentProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ErShouProServlet</servlet-name>
    <servlet-class>com.message.servlet.ErShouProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZhaoGongZuoProServlet</servlet-name>
    <servlet-class>com.message.servlet.ZhaoGongZuoProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ChineseCheckCode</servlet-name>
    <servlet-class>com.message.servlet.ChineseCheckCode</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AddMessageServlet</servlet-name>
    <servlet-class>com.message.servlet.AddMessageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>UpdateServlet</servlet-name>
    <servlet-class>com.message.servlet.UpdateServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZuFangServlet</servlet-name>
    <servlet-class>com.message.servlet.ZuFangServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ZuFangProServlet</servlet-name>
    <servlet-class>com.message.servlet.ZuFangProServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DeleteServlet</servlet-name>
    <servlet-class>com.message.servlet.DeleteServlet</servlet-class>
  </servlet>















  <servlet-mapping>
    <servlet-name>SelectServlet</servlet-name>
    <url-pattern>/SelectServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContentServlet</servlet-name>
    <url-pattern>/ContentServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhaoGongZuoServlet</servlet-name>
    <url-pattern>/ZhaoGongZuoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErShouServlet</servlet-name>
    <url-pattern>/ErShouServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErShouMaiServlet</servlet-name>
    <url-pattern>/ErShouMaiServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErShouMaiProServlet</servlet-name>
    <url-pattern>/ErShouMaiProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ContentProServlet</servlet-name>
    <url-pattern>/ContentProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ErShouProServlet</servlet-name>
    <url-pattern>/ErShouProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZhaoGongZuoProServlet</servlet-name>
    <url-pattern>/ZhaoGongZuoProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ChineseCheckCode</servlet-name>
    <url-pattern>/ChineseCheckCode</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMessageServlet</servlet-name>
    <url-pattern>/AddMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateServlet</servlet-name>
    <url-pattern>/UpdateServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZuFangServlet</servlet-name>
    <url-pattern>/ZuFangServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ZuFangProServlet</servlet-name>
    <url-pattern>/ZuFangProServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteServlet</servlet-name>
    <url-pattern>/DeleteServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
